 <footer>
        <!-- <div class="cta">
            <div class="cta1">
            <br>
            <h2>Ready For Unforgatable Stay. Remember Us!</h2>
            <p>Here, the great force is intended for those who seek pleasure, to do so justly, with no regrets, following a route. It is accompanied by praise. Sitting adorned with simplicity, fitting.</p>
            </div>
        </div> -->
        <div class="f-info">
                <div class="f-info-socials">
                    <a href="/facebook"><i class="fa-brands fa-square-facebook"></i></a>
                    <a href="/instagram"><i class="fa-brands fa-instagram"></i></a>
                    <a href="/twitter"><i class="fa-brands fa-square-twitter"></i></a>
                </div>
                <div class="f-info-brand"> &copy; 2024 Wander Stay, Inc</div>
                <div class="f-info-links">
                    <a href="/privacy">Privacy</a>
                    <a href="/terms">Terms</a>
                    <a href="/sitemap">Sitemap</a>
                    <a href="/details">Company details</a>
                </div>
        </div>   
</footer>
