<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="\css\homeStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="home-page">
    
    <!-- Animated Background -->
    <div class="blob-outer-container">
        <div class="blob-inner-container">
            <div class="blob"></div>
        </div>
    </div>

    <nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top custom-navbar"> 
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="header-top">
                    <h2  class="quote">Wanderstay</h2>
                    <!-- <a class="navbar-brand" href="/"><i class="fa-solid fa-cat" aria-hidden="true"></i></a> -->
                </div>
                <div class="navbar-nav">
                    <a class="nav-link custom-nav-link " href="/">Home</a>
                    <a class="nav-link custom-nav-link " href="/">About us</a>
                    <a class="nav-link custom-nav-link" href="#">Features</a>
                    <a class="nav-link custom-nav-link" href="/photos/gallery">Gallery</a>
                    <a class="nav-link custom-nav-link" href="/listings">Packages</a>
                    <a class="nav-link custom-nav-link" href="/">Contact Us</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="content">
        <!-- <h1 class="quote">Unlock the Door to Magical Stays</h1> -->
       
        <div class="slideshow-container">
            <!-- Main Content -->
<div class="content">
    <h1 class="quote">Unlock the Door to Magical Stays</h1>

    <div class="slideshow-container">
        <!-- <p class="description">Do you dwell where magic lives? Embrace the enchantment within! 
        Nights of wonder, moments of mystery — indulge in the magic, stay in the spell.</p> -->
    </div>
</div>

        </div>
    </div>

    <!-- Buttons -->
    <div class="home-btn">
        <form method="GET" action="/listings">
            <button type="Submit" class="btn">Learn More</button>
        </form>
        <form method="GET" action="/">
            <button type="Submit" class="btn btn-book">Book Now</button>
        </form>
    </div>

</body>
</html>
